<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>expresscache</name>
	<displayName><![CDATA[Express Cache 3]]></displayName>
	<version><![CDATA[3.5.1]]></version>
	<description><![CDATA[Boost your Prestashop speed - upto 5x faster!]]></description>
	<author><![CDATA[Express Tech]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>