
.hook-name {
	border: 1px solid rgb(211, 210, 210);
	padding: 0px;
	border-radius: 4px;
	background-color: rgb(211, 210, 210);
	display: inline-block;
	margin-top: 5px;
	padding-right: 3px;
	padding-left: 3px;

}
.express-cache-toolbox {
	width: 100px;
	height: 100px;
	display: table-cell;
	
	border: 1px solid rgb(221, 218, 218);
	text-align: center;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.panelStats {
	text-align: center;;
}

.panelStats .panel {
	display: inline-block;
	width: 150px;
	margin-right: 20%;
	text-align: center;;
	margin: 0 auto;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}
